.community-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
.community-content-container {
  width: 1200px;
}

.community-header {
  text-align: center;
  margin-bottom: 4rem;
}
.community-header h3 {
  color: #fc916a;
  font-size: 2rem;
}
.community-header p {
  color: #436073;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}
.community-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 5rem;
}
.community-founder {
  height: 220px;
  width: 390px;
  border-radius: 14px;
  box-shadow: 0px 7.2602152824401855px 0px 0px #e163414d;
  padding: 3rem 1rem;
  position: relative;
  left: -5rem;
  background-color: white;
}
.community-founder p:nth-child(1) {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  text-align: justify;

  /* Dark Cyan */

  color: #436073;
}
.community-founder h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-top: 10px;
  color: #fc916a;
}
.community-founder p:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  margin-top: 10px;

  color: #436073;
}
.community-image > img {
  width: 100%;
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .community-content-container {
    width: 100%;
  }
  .community-details {
    flex-direction: column;
    gap: 0;
  }
  .community-founder {
    left: 0;
  }
  .community-details {
    flex-wrap: wrap;
  }
}
/* Mobile */

@media screen and (max-width: 767px) {
  .community-content-container {
    width: 100%;
  }
  .community-header h3 {
    /* font-size: 2rem; */
    font-size: 1.3rem;
  }
  .community-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .community-header p {
    /* font-size: 1.3rem; */
    font-size: 1.1rem;
  }

  .community-details {
    flex-direction: column;
    padding: 0 2rem;
  }
  .community-founder {
    background-color: white;
    left: 0;
    width: calc(100% - 20px);
    padding: 3rem 1.5rem;
    height: auto;
  }
  .community-founder p:nth-child(1) {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 20px;
    text-align: justify;

    /* Dark Cyan */

    color: #436073;
  }
  .community-content-container {
    width: 100%;
  }
  .community-image {
    width: calc(100% - 40px);
  }
  .community-image > img:nth-child(1) {
    width: 100%;
  }
}
