.experience-container {
  margin: 100px 0;
}
.experience-content-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience-image-section {
  display: flex;
  width: 100%;
}

.experience-header-section {
  text-align: center;
  padding: 3rem 0;
  /* width: 100%; */
}
.experience-header-section h4 {
  color: #fc916a;
  font-size: 2rem;
  text-align: center;
}
.experience-header-section p {
  color: #436073;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}
.experience-image {
  width: 100%;
  height: 400px;
}
.image-container {
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-container:nth-child(1) {
  background-image: url("../../assets/images/exp1.png");
}
.image-container:nth-child(2) {
  background-image: url("../../assets/images/exp2.png");
}
.image-container:nth-child(3) {
  background-image: url("../../assets/images/exp3.png");
}

.image-container {
  position: relative;
}
.image-container > span {
  color: #ffffff;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-20%, -50%);
  font-size: 2rem;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container > .description {
  width: 200px;
  color: #ffffff;
  text-align: center;
}
.image-container > .description h3 {
  font-size: 2rem;
}
.image-container > .description .arrow-icon {
  color: #fc916a;
  font-size: 2rem;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .experience-container{
    margin: 20px 0;
  }
  .image-container > span {
    font-size: 1.5rem;
  }
  .experience-header-section {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .image-container {
    width: 100%;
    height: 200px;
  }
  .experience-image-section {
    justify-content: center;
  }
}
