.news-container {
  display: flex;
  justify-content: center;
}
.news-content-container {
  width: 900px;
  /* display: flex; */
}
.news-card-content {
  width: 400px;
}
.news-heading {
  text-align: center;
}
.news-heading h4 {
  color: #fc916a;
  font-size: 2rem;
  text-align: center;
}
.news-heading p {
  color: #436073;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}
.news-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}
.news-card-content {
  margin-right: 20px;
  margin-bottom: 40px;
}
.news-content-wrapper > div {
  display: flex;
  gap: 20px;
}
.news-heading-text {
  font-family: "Jubilat";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Orange */

  color: #fc916a;
}
.news-description {
  font-family: "Halyard Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Dark Cyan */

  color: #436073;
}
.news-image {
  width: 400px;
}
.news-image img {
  width: 100%;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

/* Inline #17 | http://localhost:3000/ */

.news-content-wrapper {
  /* padding: 2rem 2rem; */
  padding: 0.5rem;
}

.news-content-container {
  /* width: 900px; */
  width: 100%;
  padding: 0 0rem;
}

  
}

@media screen and (max-width: 767px) {
  /* Inline #17 | http://localhost:3000/ */

  .news-content-container {
    /* width: 900px; */
    width: 100%;
  }

  .news-heading p {
    /* font-size: 1.3rem; */
    font-size: 1.2;
  }

  /* Inline #20 | http://localhost:3000/ */

  .news-heading > h4 {
    font-size: 1.3rem;
  }

  /* Inline #17 | http://localhost:3000/ */

  .news-content-wrapper > div {
    flex-direction: column;
  }

  .news-image {
    /* width: 400px; */
    width: 100%;
  }

  .news-heading-text {
    /* font-size: 31px; */
    font-size: 1.3rem;
  }

  .news-description {
    /* font-size: 16px; */
    font-size: 1.1rem;
  }
  .news-card-content {
    width: 100%;
  }
  .news-card-content > .btn {
    padding: 0.3rem 1rem;
    text-align: center;
  }
}
